<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824197507820-1n6mg6cbdn8sfglbbu6e6pac56tt8ne7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824197507820-1n6mg6cbdn8sfglbbu6e6pac56tt8ne7</string>
	<key>API_KEY</key>
	<string>AIzaSyCgELQP0MPAZ1S51ErszUvBIoy3s4s0zDc</string>
	<key>GCM_SENDER_ID</key>
	<string>824197507820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.animatedBottomAppBar.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kitpool-34338</string>
	<key>STORAGE_BUCKET</key>
	<string>kitpool-34338.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824197507820:ios:550215dc9a8415783113c9</string>
</dict>
</plist>